<ion-header no-border>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="!((favourites$ | async)?.length)">
      <ion-label text-wrap>
        {{ 'NO_FAVOURITES_YET' | translate }}
      </ion-label>
    </ion-item>

    <ion-item-group *ngFor="let day of ((favourites$ | async))">
      <ion-item-divider>
        <ion-label>{{ day.title | appTranslate }} - {{ day.description | appTranslate }}</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let event of day.schedule">
        <ion-label text-wrap>
          <div>{{ event.time }} <ion-icon name="{{ event.category | appEventCategory }}" left></ion-icon></div>
          <p>{{ event.description | appTranslate }}</p>
        </ion-label>
        <div slot="end">
          <ion-icon color="danger" size="large" [appFavourite]="event" ></ion-icon>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
